---
name: On Merge

on:
  push:
    branches:
      - main

jobs:
  lint:
    uses: jacaudi/github-actions/.github/workflows/lint.yml@main
    with:
      go: true
    secrets: inherit

  test:
    uses: jacaudi/github-actions/.github/workflows/test.yml@main
    with:
      framework: go
      coverage: true
    secrets: inherit

  docker-build:
    needs: [lint, test]
    uses: jacaudi/github-actions/.github/workflows/docker-build.yml@main
    with:
      registry: ghcr.io
      platforms: linux/amd64,linux/arm64
      push: true
    permissions:
      contents: read
      packages: write
    secrets: inherit