---
name: On Pull Request

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  lint:
    uses: jacaudi/github-actions/.github/workflows/lint.yml@main
    with:
      go: true
    secrets: inherit

  test:
    uses: jacaudi/github-actions/.github/workflows/test.yml@main
    with:
      framework: go
      coverage: true
    secrets: inherit
