---
name: Versioned Release

on:
  push:
    tags:
      - v*

jobs:
  lint:
    uses: jacaudi/github-actions/.github/workflows/lint.yml@main
    with:
      go: true
    secrets: inherit

  test:
    uses: jacaudi/github-actions/.github/workflows/test.yml@main
    with:
      framework: go
      coverage: true
    secrets: inherit

  docker-build:
    needs: [lint, test]
    uses: jacaudi/github-actions/.github/workflows/docker-build.yml@main
    with:
      registry: ghcr.io
      platforms: linux/amd64,linux/arm64
      push: true
    permissions:
      contents: read
      packages: write
    secrets: inherit

  release-binaries:
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Release Binaries
        uses: ./.github/actions/go-release
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
